.home-container {
  padding: 10px;
  font-size: 18px;

  text-align: center;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  color: #fff;
  background-color: #00285f;

  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.home-content-container h1 {
  font-size: 1em;
}
.home-content-container p {
  font-size: 0.6em;
  width: 257px;
  margin: 0 22px 0 22px;
}

.home-content-container h1 {
  width: 257px;
  margin: 0 22px 0 22px;
}

.home-image-container {
  padding: 62px 28px 40px 28px;
}

.home-image-container img {
  width: 100%;
  height: auto;
}

.home-button {
  margin: 21px;
}

.home-button button {
  background-color: #00285f;
}

.home-button p {
  color: #585858;
  font-size: 18px;
}

@media (min-width: 576px) {
  .home-container {
    padding: 20px;
    font-size: 36px;
  }

  .home-button {
    display: flex;
  }
  .home-button p {
    padding: 65px 15px 51px 10px;
    font-size: 18px;
  }

  .home-content-container p {
    font-size: 18px;
    width: 420px;
    margin: 0 60px 0 60px;
  }

  .home-content-container h1 {
    width: 420px;
    margin: 0 60px 0 60px;
  }

  .btn-icon {
    padding: 51px;
  }
  .home-button button {
    margin: 51px;
    background-color: #00285f;
  }

  .home-image-container img {
    width: 506px;
    padding: 10px 102px 0 102px;
  }
  .home-image-container {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .home-content-container p {
    font-size: 30px;
  }
  .home-content-container p {
    font-size: 18px;
    width: 420px;
    margin: 0 150px 0 150px;
  }
  .home-content-container h1 {
    width: 420px;
    margin: 0 150px 0 150px;
  }
}

@media (min-width: 992px) {
  .home-image-container {
    padding: 82px 250px 0 250px;
  }
  .home-content-container p {
    font-size: 18px;
    width: 420px;
    margin: 0 275px 0 275px;
  }

  .home-content-container h1 {
    width: 420px;
    margin: 0 275px 0 275px;
  }
}

@media (min-width: 1200px) {
  .home-card {
    flex-direction: row;
    justify-content: space-around;
    padding: calc((85vh - 600px) / 2) 0;
  }

  .home-content-container h1 {
    width: 420px;
    margin-top: 200px;
    margin-left: 85px;
  }

  .home-image-container {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .home-content-container p {
    margin-bottom: 183px;
    margin-left: 85px;
  }
  .home-image-container img {
    width: 100%;
    padding: 83px 73px 83px 0px;
  }

  .home-content-container {
    align-items: flex-start;
    text-align: left;
    align-content: space-between;
    flex-flow: wrap;
  }
}
