.main-nav {
  min-height: 70px;
  padding-left: 20px;
  
}

.nav-logo-text,
.nav-logo-text:hover {
  color: #00285f;
}

.main-menu {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  width: 170px;
}

.main-menu a {
  color: #00285f;
}

.main-menu a:hover {
  font-weight: 700;
}

.main-menu a.active {
  color: #00285f;
  font-weight: 700;
}
